.circuitPage {
    padding: 50px;
    display: inline-block;
    width: 100%;
}
.leftSelector {
    width: 200px;
    float: left;
}
.leftSelector > ul > li {
    display: block;
    width: 100%;
    padding: 5px 0px 5px 30px;
    background: url("/assets/images/gates.png");
    background-repeat: no-repeat;
    background-position: 100%;
    background-color: transparent;
    background-position-x: -52px;
}