.help-block {
    color: red;
    font-size: 12px;
}
.form-group {
    width: 100%;
    margin: 10px 0;
}
.form-group > label {
    width: 90px;
    display: inline-block;
}
.regMainPage {
    width: 500px;
    margin: auto;
    border: solid 1px #ddd;
    padding: 30px;
    text-align: center;
}
.btn-common {
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    background-color: green;
    color: #fff;
    margin: 10px;
}