*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
ul, li{
  padding: 0;
  margin: 0;
}
.ColumnDiv {
  width: 100px;
  height: 100px;
  border: solid 1px #ddd;
  margin: 1px;
}
.Red{
  background-color: red
}
.Blue{
  background-color: blue
}
.Green{
  background-color: green
}
.Yellow{
  background-color: yellow
}
.Pink{
  background-color: pink
}
.mainDiv {
  border: solid 2px #ddd;
  padding: 10px;
  width: 104px;
  float: left;
}
